TagAutopilotDevices.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowDefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "evaluatedRecurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        },
        "actions": {
            "Get_Access_Token": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/XXXX/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "client_id=XXX&scope=https://graph.microsoft.com/.default&client_secret=XXX&grant_type=client_credentials"
                }
            },
            "Parse_Token": {
                "runAfter": {
                    "Get_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_Access_Token')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "access_token": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Get_Autopilot_Devices": {
                "runAfter": {
                    "Parse_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/deviceManagement/windowsAutopilotDeviceIdentities?$top=999",
                    "method": "GET",
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_Token')['access_token']}"
                    }
                },
                "runtimeConfiguration": {
                    "paginationPolicy": {
                        "minimumItemCount": 10000
                    }
                }
            },
            "For_each_device": {
                "foreach": "@body('Get_Autopilot_Devices')?['value']",
                "actions": {
                    "Condition_on_GroupTag": {
                        "actions": {
                            "Get_User_Department": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/users/@{items('For_each_device')?['userPrincipalName']}?$select=department",
                                    "method": "GET",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Token')['access_token']}"
                                    }
                                }
                            },
                            "Parse_User_Department": {
                                "runAfter": {
                                    "Get_User_Department": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_User_Department')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "department": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "Check_Group_Membership": {
                                "runAfter": {
                                    "Parse_User_Department": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/users/@{items('For_each_device')?['userPrincipalName']}/checkMemberObjects",
                                    "method": "POST",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Token')['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "ids": [
                                            "XXX",
                                            "XXX"
                                        ]
                                    }
                                }
                            },
                            "Parse_Group_Membership": {
                                "runAfter": {
                                    "Check_Group_Membership": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Check_Group_Membership')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Compose_GroupTag": {
                                "runAfter": {
                                    "Parse_Group_Membership": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Compose",
                                "inputs": "@concat(if(empty(body('Parse_User_Department')?['department']), 'Default', body('Parse_User_Department')?['department']), if(contains(body('Parse_Group_Membership')?['value'], 'XXX'), '|HEP', ''), if(contains(body('Parse_Group_Membership')?['value'], 'XXX'), '|GER', ''))"
                            },
                            "Update_Device_GroupTag": {
                                "runAfter": {
                                    "Compose_GroupTag": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/deviceManagement/windowsAutopilotDeviceIdentities/@{items('For_each_device')?['id']}/updateDeviceProperties",
                                    "method": "POST",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Parse_Token')['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "groupTag": "@{outputs('Compose_GroupTag')}"
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "expression": {
                            "or": [
                                {
                                    "equals": [
                                        "@{items('For_each_device')?['groupTag']}",
                                        "Default"
                                    ]
                                },
                                {
                                    "equals": [
                                        "@empty(items('For_each_device')?['groupTag'])",
                                        true
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "Get_Autopilot_Devices": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}